<!DOCTYPE html>
<html>
<head>
	<title>Burgering House E-mail</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<style>
		strong, a { color: #2d8aca; }
		a:hover { text-decoration: none; }
	</style>
</head>
<body style="font-family: Arial, Helvetica, sans-serif; background: #ededed; text-align: center; color: #444; font-size: 15px;">
	<table cellpadding="20" style="background: #fff; width:600px; text-align: left; margin: 20px auto; border: 1px solid #e6e6e6; border-bottom: 2px solid #e1e1e1; border-collapse: collapse;">
		<tr>
			<th colspan="2" style="text-align: center; border-bottom: 1px solid #ededed;">
				<img src="/images/frontend/burgering-house-logo.png" alt="Burgering House Logo">
			</th>
		</tr>
		<tr>
			<td style="width: 15%; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;"><strong>{{ 'contact_name'|trans({}, "StenikContentBundle")}}</strong></td>
			<td style="border-bottom: 1px solid #e6e6e6;">{{data.name}}</td>
		</tr>
		<tr>
			<td style="width: 15%; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;"><strong>{{ 'contact_email'|trans({}, "StenikContentBundle")}}</strong></td>
			<td style="border-bottom: 1px solid #e6e6e6;">{{data.email}}</td>
		</tr>
		<tr>
			<td style="width: 15%; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;"><strong>{{ 'contact_subject'|trans({}, "StenikContentBundle")}}</strong></td>
			<td style="border-bottom: 1px solid #e6e6e6;">{{data.subject}}</td>
		</tr>
		<tr>
			<td style="width: 15%; border-right: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6;"><strong>{{ 'contact_message'|trans({}, "StenikContentBundle")}}</strong></td>
			<td style="border-bottom: 1px solid #e6e6e6;">{{data.message}}</td>
		</tr>
	</table>
	<div style="width: 600px; text-align: center; margin: 0 auto;">
		<p style="font-size: 13px; font-style: italic; ">{{ 'this_message'|trans({}, "StenikContentBundle")}}<a href="{{path('homepage')}}">burgering-house.bg</a>, {{ 'developed_by'|trans({}, "StenikContentBundle")}}<a href="http://www.stenikgroup.com/" target="blank">Stenik</a>.</p>
	</div>
</body>
</html>
 